last 2 versions
not dead
> 0.2%
and_chr 131
and_ff 132
and_qq 14.9
and_uc 15.5
android 131
baidu 13.18
chrome 131
chrome 130
chrome 129
chrome 109
edge 131
edge 130
edge 129
firefox 133
firefox 132
firefox 131
firefox 130
firefox 129
firefox 115
ie 11
ios_saf 18.1
ios_saf 18.0
ios_saf 17.6-17.7
ios_saf 17.5
ios_saf 17.4
ios_saf 17.3
ios_saf 15.6-15.8
js_base 1
kaios 3.0-3.1
kaios 2.5
op_mini all
op_mob 80
opera 115
opera 114
opera 113
safari 18.1
safari 18.0
safari 17.6
safari 17.5
safari 17.4
safari 13.1
safari 13
samsung 27
samsung 26
samsung 25
samsung 24
samsung 23
samsung 22
samsung 21
samsung 20
samsung 19.0
samsung 18.0
samsung 17.0
samsung 16.0
samsung 15.0
samsung 14.0
samsung 13.0
samsung 12.0
samsung 11.1-11.2
samsung 10.1
samsung 9.2
samsung 8.2
samsung 7.2-7.4
samsung 6.2-6.4
samsung 5.0-5.4
samsung 4
